<!DOCTYPE html>
<html>
     <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="./css/style.css"/>
    </head>
    <body>
        {{>header}}
        <p>{{errorMSG}}</p>
        {{>footer}}
    </body>
</html>